VITE_FIREBASE_API_KEY=AIzaSyAFZzj959HNMKy1EnBuP_Kegcz3uirZatk
VITE_FIREBASE_AUTH_DOMAIN=mahiiversion1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mahiiversion1
VITE_FIREBASE_STORAGE_BUCKET=mahiiversion1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1040474291619
VITE_FIREBASE_APP_ID=1:1040474291619:web:ae9f30460c9568eaa3ae16
VITE_FIREBASE_MEASUREMENT_ID=G-JF3KGBEHYS
